<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mecado</title>
    <link href="style/Mecado.css" rel="stylesheet">
    <link href="style/scss/main.css" rel="stylesheet">
</head>

<body>
<header>
    <div class="header">
        <div>
            <h1>Mecado</h1>
            <h6>Bonjour, {{ creator.name }} {{ creator.firstName }} !</h6>
        </div>

        <div  class="text-right btnLogNav ">

            <a href="/disconnect" class="btn-link btn-flat">Se deconnecter</a>

        </div>
    </div>

</header>
<nav>
    <ul class="navbar bcg">
        <li><a href="/creatList">Créer liste</a></li>
        <li><a href="#">partager liste</a></li>
        <li><a href="#">AIDE</a></li>
    </ul>
</nav>

<h2>Voici toutes vos listes</h2>
<div>
    {%  if listsArray |length > 0 %}
        <div>
            {% for lists in listsArray %}
                <div class="col col-span-12 bcg-col">
                    <h1>Titre</h1> <p>{{ lists.title}} </p>
                    <h2>Description</h2> <p>{{ lists.description }}</p>
                    <button type="button" class="btn-link textRight">Afficher le contenu de la liste</button>
                    <h3>Date de validité</h3> <p>{{ lists.validityDate }}</p>
                    </div>
            {% endfor %}
        </div>

    {% endif %}
</div>
</body>

</html>
