<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mecado</title>
    <link href="../../style/Mecado.css" rel="stylesheet">
    <link href="../../style/scss/main.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header">
            <h1>Mecado</h1>
            <div>
                <p>bonjour {{ creator.name }}</p>
            </div>
            <a href="/disconnect" class="btn btn-small">Se deconnecter</a>
        </div>

    </header>
    <nav>
        <ul class="navbar bcg">
            <li><a href="#">Créer liste</a></li>
            <li><a href="/homeCo">Visualiser liste</a></li>
            <li><a href="#">partager liste</a></li>
            <li><a href="#">AIDE</a></li>
        </ul>
    </nav>
    <div class="formulaire-item">
        <form class="form-item"enctype="multipart/form-data" action="{{ url }}" method="post">
            <p>Titre :</p>
            <input type="text" name="title" />
            <p>Description :</p>
            <input type="text" name="desc" />
            <p>Price :</p>
            <input type="text" name="price" />
            <p>Url de l'item :</p>
            <input type="text" name="url" />
            <input type="hidden" name="idform" value="{{ idlist }}" />
            <input type="file" name="FTU" />
            <input type="submit" name="valid" value="valider" />


        </form>
    </div>

    <h2 class="text-center">Voici vos items</h2>
    <div class="container-item">

        {% for ipo in item %}
        <div class="item">
            <div class="info-item">
                <h4>{{ipo.title}}</h4>
                <h6>Description :</h6>
                <p>{{ipo.description}}</p>
                <h6>Prix :</h6>
                <p>{{ipo.price}} €</p>
                <h6>Url :</h6>
                <p>{{ ipo.url }}</p>
            </div>
            <div class="info-img">
                <img class="image-item" src="/img/{{ipo.picture}}">
            </div>
        </div>
            
        {% endfor %}
    </div>
</body>

</html>
