<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mecado</title>
    <link href="../../style/Mecado.css" rel="stylesheet">
    <link href="../../style/scss/main.css" rel="stylesheet">
</head>

<body>

<header>
    <div class="header">
        <div>
            <h1>Mecado</h1>
            <h6>Bonjour, {{ creator.name }} {{ creator.firstName }} !</h6>
        </div>
        <div  class="text-right btnLogNav ">
            <a href="/disconnect" class="btn-link btn-flat">Se déconnecter</a>
        </div>
    </div>
</header>
{%include('navbar.twig')%}


<!-- Permet de generer le bouton de création de token selon si la liste est validée (genere token pour beneficiaire) ou non validée (pour les participants) -->
<br>
{% if liste.isValidate %}
    {% if liste.token is null %}
        <a href="generateSharingFinalToken"><button class='btn-secondary btn-flat'>
                Générez le lien cadeau :
            </button></a>
    {% else %}
        <a><button class='btn-secondary btn-flat'>
                {% if liste.isRecipient %}
                    Voici votre lien de cadeau :
                {% else %}
                    Donnez ce lien au bénéficiaire de la liste :
                {% endif %}
            </button></a>
        <a href='/youreceivedgifts/{{liste.token}}'>Accès à la liste finale</a>
    {% endif %}


{% else %}
    {% if liste.token is null %}
        <a href="generateSharingToken"><button class='btn-secondary btn-flat'>
                Générez votre lien de partage :
            </button></a>
    {% else %}
        <a><button class='btn-secondary btn-flat'>
                Partagez ce lien à vos amis :
            </button></a>
        <a href='/viewGuest/{{liste.token}}'>Accès à la liste de participation</a>
    {% endif %}
{% endif %}



{% if liste.isValidate==false %}
    <br><br>
    <a href="ValidateList"><button class='btn-warning btn-flat'>Cloturer la liste en avance</button></a>
{% endif%}
<br><br>



    </div>
<hr>
    <div style="background-color: #FFF0F5">
        <h2 style="margin: 1% 1%;" class="text-center">Ajouter un item</h2>
        {%  if erreurs|length > 0 %}
            <div>
                {% for error in erreurs %}
                    <div class="alert-danger"><p>{{ error }}</p></div>
                {% endfor %}
            </div>

        {% endif %}

    <div class="formulaire-item">
        <form class="form-item" enctype="multipart/form-data" action="{{ url }}" method="post">
            <p>Titre :</p>
            <input type="text" name="title" />
            <p>Description :</p>
            <input type="text" name="desc" />
            <p>Price :</p>
            <input type="text" name="price" />
            <p>Url de l'item :</p>
            <input type="text" name="url" />
            <input type="hidden" name="idform" value="{{ idlist }}" />
            <input type="file" name="FTU" />
            <input type="submit" class="btn-link btn-flat" name="valid" value="valider" />

        </form>
    </div>

    <h2 style="margin: 1% 1%;" class="text-center">Voici la liste de vos items</h2>
    <div class="row listItemCreator">
        <form action="/group_item" method="post">
            {% for ipo in item %}
            <div class="item col col-span-6 bcg-col">
                <div class="info-item">
                    <h4>{{ipo.title}}</h4>
                    
                    <h6>Description :</h6>
                    {% if ipo.description %}
                        <p>{{ipo.description}}</p>
                    {% else %}
                        <p>Aucune description</p>
                    {% endif %}
                    
                    <h6>Prix :</h6>
                    <p>{{ipo.price}} €</p>
                    
                    <h6>Url :</h6>
                    {% if ipo.url %}
                        <p>{{ ipo.url }}</p>
                    {% else %}
                        <p>Aucune url</p>
                    {% endif %}
                    <h6>Groupe actuel :</h6>
                    {% if ipo.idGroup %}
                        <p class="colorGroup">{{ ipo.nameGroup }}({{ ipo.idGroup }})</p>
                    {% else %}
                        <p>Aucun groupe</p>
                    {% endif %}
                    
                    <label>Groupe cette item :</label>
                    <input type="checkbox" name="check[]" value="{{ ipo.id }}">
                    <input type="hidden" name="idlist" value="{{ ipo.idList }}">
                </div>
                <div class="info-img">
                    <img class="image-item" src="/img/{{ipo.picture}}">
                </div>
            </div>
            {% endfor %}
            <button class="btn-link btn-flat" type="submit">Groupe les items sélectionners</button>
        </form>
        </div>
    </div>
    <hr>

</body>

</html>
