<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mecado</title>
    <link href="../../style/Mecado.css" rel="stylesheet">
    <link href="../../style/scss/main.css" rel="stylesheet"> 
</head>

<body>
    <header>
        <div class="header">
            <h1>Mecado</h1>
            <div>
                <p>bonjour {{ creator.name }}</p>
            </div>
            <a href="/disconnect" class="btn btn-small">Se deconnecter</a>
        </div>

    </header>
    <nav>
        <ul class="navbar bcg">
            <li><a href="#">Créer liste</a></li>
            <li><a href="#">partager liste</a></li>
            <li><a href="#">AIDE</a></li>
        </ul>
    </nav>

    <form enctype="multipart/form-data" action="{{ url }}" method="post">
        <p>Titre :</p>
        <input type="text" name="title" />
        <p>Description :</p>
        <input type="text" name="desc" />
        <p>Price :</p>
        <input type="text" name="price" />
        <p>Url de le l'item :</p>
        <input type="text" name="url" />
        <input type="hidden" name="idform" value="{{ idlist }}"/>
        <input type="file" name="FTU" />
        <input type="submit" name="valid" value="valider" />


    </form>

    <h2>Voici vos items</h2>
    <div>
        {% for ipo in item %}

        <p>{{ipo.title}}</p>
        <p>{{ipo.description}}</p>
        <p>{{ipo.price}}</p>
        <img src="../../public/img/{{ipo.picture}} width="500" height="600"">
        {% endfor %} 
    </div>
</body>

</html>
