<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mecado</title>
    <link href="../../style/Mecado.css" rel="stylesheet">
    <link href="../../style/scss/main.css" rel="stylesheet">

</head>

<body>
<header>
    <div class="header">
        <div><h1>Mecado</h1></div>
        <div  class="text-right btnLogNav">
            <a href="/signup" class="btn-link btn-flat text-center">S'incrire</a>
            <a href="/signin" class="btn-link btn-flat">Se connecter</a>
        </div>

    </div>

</header>
<nav>
    <ul class="navbar bcg">
        <li><a href="/creatList">Créer liste</a></li>
        <li><a href="#">Visualiser liste</a></li>
        <li><a href="#">partager liste</a></li>
        <li><a href="#">AIDE</a></li>
    </ul>
</nav>


<h2 class="text-center">Voici vos items</h2>
<div class="container-item">

    {% for ipo in item %}
        <div class="item">
            <div class="info-item">
                <h4>{{ipo.title}}</h4>
                <h6>Description :</h6>
                <p>{{ipo.description}}</p>
                <h6>Prix :</h6>
                <p>{{ipo.price}} €</p>
                <h6>Url :</h6>
                <p>{{ ipo.url }}</p>
            </div>
            <div class="info-img">
                <img class="image-item" src="/img/{{ipo.picture}}">
            </div>
        </div>
        <div>
            <form action="book" method="post">
                <ul class="form-style-1">
                    <li>
                        <label for="reserverName">Votre Nom</label>
                        <input class="field-long" type="text" required name="reserverName" id="reserverName">
                    </li>
                    <li>
                        <label for="message">Votre message</label>
                        <input style="height: 100px;" class="field-long" type="text" required name="message" id="message">
                    </li>
                    <li class=" text-center">
                        <input class="btn-link btn-flat" type="submit" name="envoi" value="Reserver cette item">
                    </li>

                </ul>
            </form>
        </div>
    {% endfor %}
</div>

</body>

</html>
