<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mecado</title>
    <link href="../../style/Mecado.css" rel="stylesheet">
    <link href="../../style/scss/main.css" rel="stylesheet">

</head>

<body>

    <header>
        <div class="header">
            <div><h1>Mecado</h1></div>
            <div  class="text-right btnLogNav">
                <a href="/signup" class="btn-link btn-flat text-center">S'incrire</a>
                <a href="/signin" class="btn-link btn-flat">Se connecter</a>
            </div>

        </div>

    </header>

    {%  if itemsBooked |length > 0 %}
        <h1>Vous avez reçu des cadeaux !!!! </h1>

        <section class = "recipient">
            <div class="row bcg">
                {% for i in itemsBooked %}
                    <div class="col col-span-6 bcg-col">
                        <h1 class = "titleLists">{{ i.title}}</h1>
                        <hr>
                        <h4  class = "titleLists">De la part de {{ i.reserver }}</h4>
                        <h4  class = "titleLists">Description</h4> <p>{{ i.description }}</p>
                        <img src="/img/{{ i.picture }}">
                        <h4  class = "titleLists">Son message :</h4> <p>{{ i.message }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% else %}
        <h1>Liste en cours de traitement</h1>
    {% endif %}


</body>

</html>
